body {
    font-family: 'Quicksand', sans-erif;
    background-color: #fff7fb;
    color: #4b4b4b;
    text-align: center;
    padding: 50px;
}

h1 {
    color: #f4a6c1;
    font-size: 80px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

h2 {
    color: #89cff0;
}

p {
    font-size: 18px;
    line-height: 1.8;
}

button {
        background-color: #d8f0d2;
    color: #4b4b4b;
    border: none;
    padding: 15px 30px;
    margin: 10px;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color: #c8e6c9;
}
