body {
    font-family: Arial, sans-serif;
    background-color: #eaf4ff;
    color: #1f2937;
    text-align: center;
    padding: 40px;
    max-width: 900px;
    margin: auto;
}

h1 {
    color: #1e3a8a;
    font-size: 4rem;
}

h2 {
    color: #2563eb;
}

p {
    font-size: 18px;
}

button {
    background-color: #2563eb;
    color: white;
    border: none;
    padding: 12px 20px;
    margin: 10px;
    border-radius: 12px;
    font-size: 16px;
}

main {
    background: white;
    max-width: 800px;
    margin: 50px auto;
    padding: 40px;
    border-radius: 20px;
}
